<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="products/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>product dashboard</title>
</head>
<body>
	<section>
	<div class="d-flex ">
	<div th:each="p:${products}" class="me-3 mt-3">
	<div class="card " style="width: 18rem;">
		  <img th:src="@{'/img/'+${p.imageUrl}}" class="card-img-top img-fluid" alt="dfg">
		  <div class="card-body">
		    <h5 class="card-title" th:text="${p.name}"></h5>
		    <h3 class="card-text" th:text="${p.brand}"></h3>
		  
		    <p class="card-text" th:text="${p.description}"></p>
		    <a href="#" class="btn btn-sm btn-primary">Buy</a>
		  </div>
	</div>
	</div></div>
	</section>

</body>
</html>